.Discount-container {
    display: flex;
    margin: 0 4rem 4rem 6rem;
    padding: 6rem 6rem;
    gap: 7rem;
    flex-direction: column;
}

.Discount-image-container {
    width: 120px;
    height: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
}

.Discount-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.Discount-list-block {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 16px;
}

.Discount-block {
    display: flex;
    justify-content: space-evenly;
}

.Discount-image-block {
    width: 400px;
    height: auto;
    overflow: hidden;
    align-items: center;
}

.Discount-image-container-details {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.Discount-details-block h3 h4 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Discount-details-block span {
    font-weight: bold;
}

.Profile-avatar {
    width: 300px; /* ширина рамки */
    height: 300px; /* высота рамки */
    border-radius: 50%; /* округление рамки для создания круга */
    overflow: hidden; /* обрезка изображения внутри рамки */
    background-color: #f0f0f0; /* цвет фона рамки */
    position: relative;
    aspect-ratio: 1 / 1;
}

.Profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* заполнение рамки изображением */
    position: absolute;
    top: 0;
    left: 0;
}

.Profile-avatar-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.Profile-avatar-button:hover {
    background-color: #0056b3;
}

.Profile-file {
    display: none;
}

.error-input {
    color: red
}

.Profile-avatar-wrapper {
    display: inline-block;
    cursor: pointer;
}